extends ../layouts/default

block intro
  .container
    .row
      .breadcrumbDiv.col-lg-12
        ul.breadcrumb
          li
            a(href='/') Inicio
          li.active Cambiar contrase単a
    h3.section-title.style2.text-center
      span Cambiar contrase単a

block content
  .container
      form(method='post', autocomplete='off')
        input(type='hidden', name='action', value='cambiarPass')
        .col-sm-6.col-sm-offset-3
          .panel-container
            .panel-container-body
              .form-group
                label(for='change-passwordNew').sr-only Nueva contrase単a
                input(type='password', name='password', placeholder='New Password', id='change-passwordNew').form-control
              .form-group
                label(for='change-passwordConfirm').sr-only Confirmar contrase単a
                input(type='password', name='password_confirm', placeholder='Confirm Password', id='signin-passwordConfirm').form-control
              .form-group
                button(type='submit').btn.btn-primary Cambiar
