extends ../layouts/default

block content
  .container
    .col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-heading
          .loginForm-title Ingreso de usuario
        .panel-body
          form(method='post')
            input(type='hidden', name='action', value='signin')
            .input-group
              span.input-group-addon
                span.glyphicon.glyphicon-user
              input.form-control(type='email', name='email', placeholder='Email', id='signin-email', value='')
            br
            .input-group
              span.input-group-addon
                span.glyphicon.glyphicon-lock
              input.form-control(type='password', name='password', placeholder='Contraseña', id='signin-password', value='')
            br
            button(type='submit').btn.btn-block.btn-primary.btn-submit Ingresar
